#gift-picker .character img {
  padding: 5%;
}

#gift-picker .gift {
  display: flex;
  text-align: left;
  width: 100%;
}

#gift-picker .gift div,
#gift-picker .gift .icon {
  pointer-events: none;
}

#gift-picker .gift .icon {
  left: -12px;
  position: relative;
  max-width: 24px;
}

#gift-picker .gift .col-auto {
  flex: 1 1 auto;
}
#gift-picker .gift .count {
  text-align: right;
}

#gift-picker .gift-text {
  flex: 1 1 2vw;
  overflow: hidden;
}

#gift-picker .missing {
  order: 1;
}
#gift-picker .missing .icon {
  filter: grayscale(100%);
}
