.character img {
  padding: 5%;
}

.gift {
  display: flex;
  text-align: left;
  width: 100%;
}

.gift div,
.gift .icon {
  pointer-events: none;
}

.gift .icon {
  left: -12px;
  position: relative;
  max-width: 24px;
}

.gift .col-auto {
  flex: 1 1 auto;
}
.gift .count {
  text-align: right;
}

.gift-text {
  flex: 1 1 2vw;
  overflow: hidden;
}

.missing {
  order: 1;
}
.missing .icon {
  filter: grayscale(100%);
}
